<!DOCTYPE html>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using TheWorkoutLibrary.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()

        <div class="menu-btn">
            <div class="menu-btn_burger"></div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <form id="LogoutForm" asp-page="/Logout" method="post">
                <button id="LogoutBtn" type="submit">Logout</button>
            </form>
        }

        <div class="Navigation">
            <nav>
                <ul>
                    <li><a asp-page="/Login">Log-in</a></li>
                    <li><a asp-page="/browseVideos">Browse Videos</a></li>
                    <li><a asp-page="/createdWorkoutLibrary">Created Workout Library</a></li>
                    <li><a asp-page="/Index">Dashboard</a></li>
                    <li><a asp-page="/Payment">Payment</a></li>
                    <li><a asp-page="/Profile">Profile</a></li>
                    <li><a asp-page="/Register">Register</a></li>
                    <li><a asp-page="/weeklyWorkout">Weekly Workout</a></li>
                    <li><a asp-page="/Upload">Upload</a></li>
                </ul>
            </nav>
        </div>
        <div id="profileName">
            @if (SignInManager.IsSignedIn(User))
            {
                <p>Hello, @UserManager.GetUserName(User)</p>
                if (User.IsInRole("Admin"))
                {
                    <p>Administrator</p>
                }
                else
                {
                    <p>Member</p>
                }
            }
        </div>
    </div>
<footer class = "border-top footer text-muted">
    <div class="footer">
        
        <div class="SocialLinks">
            <img class="WLLogo" src="Images/WL Master Logo.jpg" alt="Logo">
            <p> Social Links: </p>
        </div>

        <div class="DisplayFooter">
            <div class="Instagram">
                <img class="InstaLogo" src="Images/Instagram.png" alt="Logo">
                <p><a class = "InstaText" href="https://instagram.com/the.workoutlibrary?igshid=">Instagram</a></p>
            </div>
            
            <div class="Email">
                <img class="EmailLogo" src="Images/Email.webp" alt="Logo">
                <p><a class = "JamesEmail" href="mailto:james@radicalfitness.co.uk"> james@radicalfitness.co.uk</a></p>
            </div>
        </div>
    </div>
</footer>
    
</body>
</html>

<script>
const menuBtn = document.querySelector('.menu-btn');
let menuOpen = false;
menuBtn.addEventListener('click', () => {
if (!menuOpen) {
menuBtn.classList.add('open');
menuOpen = true;
} else {
menuBtn.classList.remove('open');
menuOpen = false;
}
});
</script>
