<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        <div class="Navigation">
            <nav>
                <ul>
                    <a href="~/Pages/LoginLogout.cshtml">Log-in</a>
                    <a href="~/Pages/browseVideos.cshtml">Browse Videos</a>
                    <a href="~/Pages/createdWorkoutLibrary.cshtml">Created Workout Library</a>
                    <a href="~/Pages/createWorkout.cshtml">Create Workout</a>
                    <a href="~/Pages/Index.cshtml">Dashboard</a>
                    <a href="~/Pages/Payment.cshtml">Payment</a>
                    <a href="~/Pages/Profile.cshtml">Profile</a>
                    <a href="~/Pages/Register.cshtml">Register</a>
                    <a href="~/Pages/weeklyWorkout.cshtml">Weekly Workout</a>

                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
