<!DOCTYPE html>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
        <div class="Navigation">
            <nav>
                <ul>
                    <li><a asp-page="/LoginLogout">Log-in</a></li>
                    <li><a asp-page="/browseVideos">Browse Videos</a></li>
                    <li><a asp-page="/createdWorkoutLibrary">Created Workout Library</a></li>
                    <li><a asp-page="/Index">Dashboard</a></li>
                    <li><a asp-page="/Payment">Payment</a></li>
                    <li><a asp-page="/Profile">Profile</a></li>
                    <li><a asp-page="/Register">Register</a></li>
                    <li><a asp-page="/weeklyWorkout">Weekly Workout</a></li>
                    <li><a asp-page="/Upload">Upload</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
