<!DOCTYPE html>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using TheWorkoutLibrary.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/CSS/StyleSheet.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="Logo">
        <a asp-page="/Index">
            <img class="whiteLogo" src="~/Images/Logo White Official.png" alt="logo">
        </a>
    </div>
    <div>

        <div id="myMenu" class="dropdown">
            <a href="javascript:" class="buttonX" onclick="closeMenu()">&times;</a>
            <div id="profileName">
                @if (SignInManager.IsSignedIn(User))
                {
                    <p>Hello, @UserManager.GetUserName(User)</p>
                    if (User.IsInRole("Admin"))
                    {
                        <p>Administrator</p>
                    }
                    else
                    {
                        <p>Member</p>
                    }
                    <form asp-page="/Logout" method="post">
                        <button type="submit">Logout</button>
                    </form>
                }
                else
                {
                    <div class="SignInUp">
                        <h3>Sign In/Up</h3>
                        <a asp-page="/Login" class="navLink">
                            <span class="navText">Log-in</span>
                        </a>
                        <a asp-page="/Register" class="navLink">
                            <span class="navText">Register</span>
                        </a>
                    </div>
                }
                
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="dropDownList">
                    <h3>Pages:</h3>
                    <a asp-page="/Index" class="navLink">
                        <span class="material-icons navIcon">home</span>
                        <span class="navText">Dashboard</span>
                    </a>
                    <a asp-page="/createdWorkoutLibrary" class="navLink">
                        <span class="material-icons navIcon">directions_run</span>
                        <span class="navText">Workouts</span>
                        <a asp-page="/browseVideos" class="navLink">
                            <span class="material-icons navIcon">videocam</span>
                            <span class="navText">Exercises</span>
                        </a>
                    </a>
                    <a asp-page="/Calendar" class="navLink">
                        <span class="material-icons navIcon">calendar_month</span>
                        <span class="navText">Calendar</span>
                    </a>
                    
                        <a asp-page="/Profile" class="navLink">
                            <span class="material-icons navIcon">person</span>
                            <span class="navText">Profile</span>
                        </a>
                    

                    @if (User.IsInRole("Admin"))
                    {
                        <div class="AdminPages">
                            <a asp-page="/createWorkout" class="navLink">
                                <span class="navText">Create Workout</span>
                            </a>
                            <a asp-page="/Upload" class="navLink">
                                <span class="navText">Upload</span>
                            </a>

                        </div>
                    }



                </div>
            }
        </div>
        <span class="hamburger" onclick="openMenu()">&#9776;</span>
        <script src="app.js"></script>


        <nav class="Nav">
            <a asp-page="/Index" class="navLink">
                <span class="material-icons navIcon">home</span>
                <span class="navText">Dashboard</span>
            </a>
            <a asp-page="/createdWorkoutLibrary" class="navLink">
                <span class="material-icons navIcon">directions_run</span>
                <span class="navText">Workouts</span>
                <a asp-page="/browseVideos" class="navLink">
                    <span class="material-icons navIcon">videocam</span>
                    <span class="navText">Exercises</span>
                </a>
            </a>
            <a asp-page="/Calendar" class="navLink">
                <span class="material-icons navIcon">calendar_month</span>
                <span class="navText">Calendar</span>
            </a>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-page="/Profile" class="navLink">
                    <span class="material-icons navIcon">person</span>
                    <span class="navText">Profile</span>
                </a>
            }
            else
            {
                <a asp-page="/Login" class="navLink">
                    <span class="material-icons navIcon">person</span>
                    <span class="navText">Login</span>
                </a>
            }

        </nav>
</div>
    <main>
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="footerMain">
            <div class="SocialLinks">
                <img class="WLLogo" src="~/Images/WL Master Logo.jpg" alt="Logo">
                <p> Social Links: </p>
            </div>

            <div class="DisplayFooter">
                <div class="Instagram">
                    <img class="InstaLogo" src="~/Images/Instagram.png" alt="Logo">
                    <p><a class="InstaText" href="https://instagram.com/the.workoutlibrary?igshid=">Instagram</a></p>
                </div>

                <div class="Email">
                    <img class="EmailLogo" src="~/Images/Email.webp" alt="Logo">
                    <p><a class="JamesEmail" href="mailto:james@radicalfitness.co.uk"> james@radicalfitness.co.uk</a></p>
                </div>
            </div>
        </div>

    </footer>

</body>
</html>

<script>
    function openMenu() {
        document.getElementById('myMenu').style.height = "100%"
        document.getElementById('myMenu').style.width = "25%"
    }
    function closeMenu() {
        document.getElementById('myMenu').style.height = "0%"
    }
</script>
