@page
@model TheWorkoutLibrary.Pages.browseVideosModel
@{
    ViewData["Title"] = "Browse Videos";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h1>BrowseVideos</h1>