@page
@model TheWorkoutLibrary.Pages.CalendarModel
@{ ViewData["Title"] = "Calendar";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Calendar</h1>

