@page
@model TheWorkoutLibrary.Pages.createWorkoutsModel
@{ ViewData["Title"] = "Create Workouts";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Create Workouts</h1>
