
@page
@model TheWorkoutLibrary.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Drawing
@using Microsoft.AspNetCore.Identity
@using TheWorkoutLibrary.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="dDivWelcomeMessage">
        <h1>Welcome</h1>
        <h1>MyWorkoutLibrary</h1>
</div>    
<div class="dgrid-container">
    <div class="grid-item">
        <a asp-page="/Calendar">
            @{
                try
                {

                    <img class="DashBoardImg" src="/Images/legpump.jpeg" alt="user">

                }
                catch
                {
                    <img src="/Images/empty.png" alt="No Image Provided" />
                }
            }
            <div class="dashboardHeaders">
                <h2>Saved Workouts</h2>
            </div>
        </a>
</div>
        @foreach (var item in Model.recentWorkouts)
        {
<div class="grid-item">
    <a asp-page="/createdWorkoutLibrary">
        @{
            try
            {

                <img class="DashBoardImg" src="@item.ImageURL" alt="user">

            }
            catch
            {
                <img src="/Images/empty.png" alt="No Image Provided" />
            }
        }
        <div class="dashboardHeaders">
            <h2>@item.Name</h2>
        </div>
    </a>
</div>
        }
<div class="grid-item">
    <a asp-page="/createWorkout">
        @{
            try
            {

                <img class="DashBoardImg" src="/Images/legpump.jpeg" alt="user">

            }
            catch
            {
                <img src="/Images/empty.png" alt="No Image Provided" />
            }
        }
        <div class="dashboardHeaders">
            <h2>Create Workout</h2>
        </div>
    </a>
</div>
        @foreach (var item in Model.oldestWorkouts)
        {
<div class="grid-item">
    <a asp-page="/createdWorkoutLibrary">


        @{
            try
            {

                <img class="DashBoardImg" src="@item.ImageURL" alt="user">

            }
            catch
            {
                <img src="/Images/empty.png" alt="No Image Provided" />
            }
        }


        <div class="dashboardHeaders">
            <h2>@item.Name</h2>
        </div>
    </a>

    </div>
        }
</div>



