@page
@model TheWorkoutLibrary.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}
<h1>Index</h1>
<h1>MyWorkoutLibrary</h1>
<h2>Welcome To the Project</h2>
<h2>Testing Udated Version</h2>
<h2>Mohamed</h2>