@page
@model TheWorkoutLibrary.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Dashboard</h1>
<h1>MyWorkoutLibrary</h1>
<h2>Welcome To the Project</h2>


