@page
@model TheWorkoutLibrary.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Login</h1>

<form class="LoginForm" method="post">
    <h4>Enter User Details</h4>

    <div asp-validation-summary="All"></div>
    <div>
        <label class="email" asp-for="Input.Email"></label>
        <input type="text" asp-for="Input.Email" />
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password"></span>
    </div>

    <button class="LoginSubmitBtn" type="submit">Log In</button>

</form>
