@page
@model TheWorkoutLibrary.Pages.LoginLogoutModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Login/Logout</h1>

