@page
@model TheWorkoutLibrary.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



<form class="LoginForm" method="post">
    <hr />
    <div class="welcomeMessage">
        <h1>Login</h1>
        <h2>Enter User Details</h2>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="emailDiv">
        <label class="emailLabel" asp-for="Input.Email"></label>
        <input type="text" asp-for="Input.Email"/>
        <span asp-validation-for="Input.Email"></span>
    </div>

    <div class="passwordDiv">
        <label class="passwordLabel" asp-for="Input.Password"></label>
        <input asp-for="Input.Password"/>
        <span asp-validation-for="Input.Password"></span>
    </div>

    <button class="LoginSubmitBtn" type="submit">Log In</button>

</form>
