@page
@model TheWorkoutLibrary.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<link rel="stylesheet" href="~/CSS/StyleSheet.css" />

<form class="createWorkoutForm" method="post">

    <div class="welcomeMessage">
        <h2>Login</h2>
        <h2>Enter User Details</h2>
    </div>
    <div asp-validation-summary="All"></div>
    <div>
            <input class="FormInputs" type="text"  asp-for="Input.Email" placeholder="Email" />
            <span asp-validation-for="Input.Email"></span>
        </div>
    <div>
        <input class="FormInputs" type="password" asp-for="Input.Password" placeholder="Password" />
        <span asp-validation-for="Input.Password"></span>
    </div>

    <div class="ResetDiv">
                
        <div class="ResetBtn">
            <button class ="resetID" type="reset" value="Reset">RESET</button>
            </div>
    
        <button class="LoginSubmitBtn" type="submit">LOGIN</button>
        </div>
    <div class="RegisterText">
        <p5>Don't have an account? <a asp-page="/Register">Register Here</a></p5>
        </div>
    
    
</form>
