@page
@model TheWorkoutLibrary.Pages.PaymentModel
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Pages/_Layout.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h1>Payment</h1>
