@page
@model TheWorkoutLibrary.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h1>Profile</h1>
