@page
@model TheWorkoutLibrary.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using TheWorkoutLibrary.Data
@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe

<div class="registerWelcomeMessage">
    <h1>Registration</h1>
</div>

<div class="paymentDiv">
    <h2>Payment</h2>
    <form asp-page-handler="Charge" asp-route-amount="@Model.AmountPayable" method="POST">
        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="Membership Payment"
                data-amount="@Model.AmountPayable"
                data-currency="GBP">
        </script>
    </form>
</div>


<form class="RegisterForm" method="post" enctype="multipart/form-data">

    
    <div asp-validation-summary="All"></div>
    <div>
        <input class="FormInputs" type="text" name="email" asp-for="userProfile.Email" placeholder="Email" />
        <span asp-validation-for="userProfile.Email"></span>
    </div>
    
    <div>
        <input class="FormInputs" type="text" name="firstName" asp-for="userProfile.FirstName" placeholder="First Name" />
        <span asp-validation-for="userProfile.FirstName"></span>
    </div>
    
    <div>
        <input class="FormInputs" type="text" name="lastName" asp-for="userProfile.LastName" placeholder="Last Name" />
        <span asp-validation-for="userProfile.LastName"></span>
    </div>
    
    <div>
        <input class="FormInputs" type="text" name="startDate" asp-for="userProfile.StartDate" placeholder="Start Date" />
        <span asp-validation-for="userProfile.EndDate"></span>
    </div>
    
    <div>
        <input class="FormInputs" type="text" asp-for="Input.Password" placeholder="Password" />
        <span asp-validation-for="Input.Email"></span>
    </div>
    
    <div>
        <input class="FormInputs" type="text" asp-for="Input.ConfirmPassword" placeholder="Confirm Password" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    
    <div class="rDivPic">
        Upload Profile Picture:<br />
        <input type="file" id="file1"
               name="file1"
               multiple="multiple" />
    </div>

    <div class="ResetDiv">

        <div class="ResetBtn">
            <button class ="resetID" type="reset" value="Reset">Reset</button>
        </div>
    
        <button class="RegisterSubmitBtn" type="submit">Register</button>
    </div>
    
    <div class="RegisterText">
        <p5>Have an account? <a asp-page="/Login">Log In Here</a></p5>
        </div>
</form>
