@page
@using TheWorkoutLibrary.Data
@model TheWorkoutLibrary.Pages.UploadModel
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<hr />
<h1>Upload</h1>

<form class="EnterWorkoutForm" method="post" enctype="multipart/form-data">
    <h4>Input Video Details</h4>
    <div asp-validation-summary="All"></div>


    <div class="whiteWorkoutName">
        <div class="Text">
            <img class="textImage" src="/Images/Text.png" alt="text">
        </div>

        <div class="workoutNameClass"><input asp-for="excercise.Name" placeholder="Workout Name" /></div>
    </div>




    <div class="whiteWorkoutNotes">
        <div class="Notes">
            <img class="notesImage" src="/Images/Notes.png" alt="user">
        </div>

        <div class="workoutNotes"><input asp-for="excercise.Notes" placeholder="Notes" /></div>
    </div>


    <div class="workoutDifficultyDiv">
        Workout Difficulty : <br>
        @foreach (var level in Model.difficulties)
        {
            <input type="radio" asp-for="excercise.Difficulty" value="@level" />@level

            <div class="Dumbbell">
                @if (@level == "Beginner")
                {
                    <div class="material-symbols-outlined4">
                        <span class="material-symbols-outlined">
                            fitness_center
                        </span>
                        <br />
                    </div>
                    <br />
                }
                else if (@level == "Intermediate")
                {
                    <div class="material-symbols-outlined5">
                        <span class="material-symbols-outlined">
                            fitness_center
                        </span>
                        <br />
                    </div>
                    <br />
                }
                else if (@level == "Advanced")
                {
                    <div class="material-symbols-outlined6">
                        <span class="material-symbols-outlined">
                            fitness_center
                        </span>
                        <br />
                    </div>
                    <br />
                }
            </div>
        }
    </div>




    <div class="uploadBox">
        <div class="Upload">
            <label>Upload Video</label>
            <input class="inputUpload" type="file" id="file1"
                   name="file1"
                   multiple="multiple" />
        </div>
    </div>

    <div class="buttonSubmit">
        <button class="EnterWorkoutBtn" type="submit" asp-page-handler="Save">Save</button>
    </div>

</form>