@page
@model TheWorkoutLibrary.Pages.weeklyWorkoutModel
@{
    ViewData["Title"] = "WeeklyWorkout";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h1>Weekly Workout</h1>
